.App {
  text-align: center;
  width: 60vw;
  margin-top: 3rem;
}
.block {
  border: 1px solid grey;
  border-radius: 5px;
  max-width: 300px;
  min-width: 300px;
  padding: 10px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
}

.button {
  padding: 10px;
  margin: 0 10px 10px 0;
  min-width: 100px;
}

.active {
  background-color: rgb(111, 178, 233);
  border-radius: 5px;
}
